@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Bangers&display=swap');


:root {
  --background: #fafce0;
  --purple: #4a314d;
  --dark-purple: #1a090d;
  --purple-disabled: #6b6570;
  --green: #c6d55c;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

p {
  font-family: 'ABeeZee', sans-serif;
  margin-bottom: 0.75rem;
}


h1, h2, h3, a, nav p {
  font-family: 'Bangers', cursive;
  color: var(--purple);
  letter-spacing: 3px;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
 
  font-size: 4rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  
  width: 70vw;
 
  margin: 0 auto;
  justify-content: space-between;
  font-size: 2.25rem;
  padding: 2.25rem 1rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 24px;
}

a {
  text-decoration: none;
  font-size: 2rem;
  transition: text-shadow 0.2s ease-in-out;
}

/* aplicar uma sombra no texto quando passado o mouse por cima, pra dar um efeito no menu */
a:hover {
  text-shadow: 0 0 2px var(--purple);
}

/* diminuir o tamanho da linha de divisão e centralizar ela, pra ela não pegar a tela inteira */
hr {
  width: 60vw;
  margin: 2.5rem auto;
  height: 2px;
  border: none;
  background-color: var(--purple-disabled);
}

main {
  width: 70vw;
  margin: 0 auto;
}

footer {
  padding: 2rem 0;
  border-top: 2px solid var(--purple);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.disabled {
  color: var(--purple-disabled);
}

/* ! Configurações da index.html */
.perfil {
  display: flex;
  background-color: var(--green);
  padding: 20px;
  border-radius: 16px;
  align-items: center;
  gap: 20px;
}

.foto {
  width: 200px;
  border-radius: 8px;
}

.video {
  width: 65vw;
 
  aspect-ratio: 16/9;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
  margin-top: 2rem;
}

/* ! Configurações do contato */
.contato {
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding: 40px
}

.endereco {
  font-family: 'ABeeZee', sans-serif;
  color: var(--dark-purple);
  font-size: 1.25rem;
}

.mapa {
  width: 35vw;
  aspect-ratio: 16/9;
  border-radius: 8px;
 
  box-shadow: 8px 8px 16px #4b324e88;
}

.formulario {
  width: 100%;
}

label {
  font-family: 'ABeeZee', sans-serif;
  margin-left: 1rem;
}

input, textarea, button {
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1.25rem;
  color: var(--dark-purple);
}

input::placeholder, textarea::placeholder {
  color: #c6d55c;
  font-family: 'ABeeZee', sans-serif;
}

input, textarea {
  border: 1px solid var(--dark-purple);
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--dark-purple)
}

button:hover {
  background-color: var(--dark-purple);
  color: #fff;
}

.campos-form {
  margin-bottom: 1rem;
}


@media (max-width: 1000px) {
 
    flex-direction: column-reverse;
  }



